spring:
  datasource:
    url: jdbc:mysql://localhost:3306/test_db
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  flyway:
    enabled: true
    clean-disabled: false
    locations: classpath:db/migration

fcm:
  base64-encoding-key: ${FCM_BASE64_ENCODING_KEY}
  project-id: ${FCM_PROJECT_ID}

security:
  jwt:
    secret-key: 090243421414217456af1bab82e65fb2
    expire-length: 36000000

open-weather:
  api:
    key: temp-key
