name: backend-cd.yml

on:
  push:
    branches: [ "develop" ]
    paths:
      - "backend/**"

jobs:
  build-and-push:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Grant execute permission to gradlew
        run: chmod +x gradlew
        working-directory: ./backend

      - name: Build project
        run: ./gradlew -Duser.timezone=Asia/Seoul clean build -x test
        working-directory: ./backend

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Multi-Arch Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/mulkkam:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/mulkkam:${{ github.sha }}

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Stop and remove existing container
        run: |
          if [ "$(docker ps -a -q -f name=backend-app)" ]; then
            docker stop backend-app
            docker rm -f backend-app
          fi

      - name: Pull latest image
        run: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/mulkkam:latest

      - name: Create .env file
        run: |
          echo "DATASOURCE_URL=${{ secrets.DATASOURCE_URL }}" >> ~/mulkkam/.env
          echo "DATASOURCE_USERNAME=${{ secrets.DATASOURCE_USERNAME }}" >> ~/mulkkam/.env
          echo "DATASOURCE_PASSWORD=${{ secrets.DATASOURCE_PASSWORD }}" >> ~/mulkkam/.env
          echo "LOG_PATH=${{ secrets.LOG_PATH }}" >> ~/mulkkam/.env
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> ~/mulkkam/.env
          echo "ACCESS_TOKEN_EXPIRE=${{ secrets.ACCESS_TOKEN_EXPIRE }}" >> ~/mulkkam/.env
          echo "FCM_BASE64_ENCODING_KEY=${{ secrets.FCM_BASE64_ENCODING_KEY }}" >> ~/mulkkam/.env
          echo "FCM_PROJECT_ID=${{ secrets.FCM_PROJECT_ID }}" >> ~/mulkkam/.env
          echo "OPEN_WEATHER_API_KEY=${{ secrets.OPEN_WEATHER_API_KEY }}" >> ~/mulkkam/.env

      - name: Stop existing services
        run: sudo docker compose stop backend-app
        working-directory: /home/ubuntu/mulkkam

      - name: Start new services
        run: sudo docker compose up -d backend-app
        working-directory: /home/ubuntu/mulkkam
