name: backend-ci.yml
on:
  pull_request:
    branches: ["develop"]
    paths:
      - "backend/**"

jobs:
  test:
    name: test
    runs-on: ubuntu-24.04
    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: test_db
          MYSQL_ROOT_PASSWORD: password
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true

      - name: Grant execute permission for gradlew
        run: |
          echo "gradle wrapper에 권한 부여"
          chmod +x ./gradlew
        working-directory: ./backend

      - name: Run tests
        run: |
          ./gradlew test \
            -Dspring.profiles.active=test \
            -Dsecurity.jwt.secret-key=${{ secrets.JWT_SECRET }} \
            -Dsecurity.jwt.expire-length=${{ secrets.ACCESS_TOKEN_EXPIRE }}
        working-directory: ./backend
        env:
          FCM_BASE64_ENCODING_KEY: ${{ secrets.FCM_BASE64_ENCODING_KEY }}
          FCM_PROJECT_ID: ${{ secrets.FCM_PROJECT_ID }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          ACCESS_TOKEN_EXPIRE: ${{ secrets.ACCESS_TOKEN_EXPIRE }}
