name: pr-title-base-init

on:
  pull_request_target:
    types: [opened]

permissions:
  pull-requests: write
  contents: read

jobs:
  sync-pr:
    name: sync-pr
    runs-on: ubuntu-24.04

    steps:
      - name: Get Branch Name
        id: get_branch
        run: |
          echo "branch_name=${{ github.event.pull_request.head.ref }}" >> "$GITHUB_OUTPUT"

      - name: Extract Issue Number
        id: extract_issue
        run: |
          ISSUE_NUMBER="$(echo "${{ steps.get_branch.outputs.branch_name }}" | grep -oP '(?<=/)\d+(?=[^0-9]*$)' || true)"
          echo "issue_number=${ISSUE_NUMBER}" >> "$GITHUB_OUTPUT"

      - name: Get Issue Title
        id: get_issue
        if: steps.extract_issue.outputs.issue_number != ''
        uses: actions/github-script@v6
        with:
          script: |
            const issueNumber = process.env.ISSUE_NUMBER;
            const issue = await github.rest.issues.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: issueNumber,
            });
            core.setOutput('issue_title', issue.data.title);
        env:
          ISSUE_NUMBER: ${{ steps.extract_issue.outputs.issue_number }}

      - name: Decide Base Branch by Author
        id: decide_base
        run: |
          actor="${{ github.actor }}"
          # 기본값
          base="develop"
          # 사람별 매핑
          case "$actor" in
            'CheChe903'| 'Jin409' | '2Jin1031' | 'minSsan')
              base="develop-be"
              ;;
            'junseo511', 'devfeijoa', 'hwannow')
              base="develop-an"
              ;;
          esac
          echo "base_branch=${base}" >> "$GITHUB_OUTPUT"

      - name: Update PR Base Branch
        uses: actions/github-script@v6
        with:
          script: |
            const base = process.env.BASE_BRANCH;
            // 현재 base와 동일하면 noop
            if (context.payload.pull_request.base.ref === base) {
              core.info(`Base already '${base}', skipping update`);
            } else {
              await github.rest.pulls.update({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
                base
              });
              core.info(`Base updated to '${base}'`);
            }
        env:
          BASE_BRANCH: ${{ steps.decide_base.outputs.base_branch }}

      - name: Update Pull Request Title
        if: steps.get_issue.outputs.issue_title != ''
        uses: actions/github-script@v6
        with:
          script: |
            await github.rest.pulls.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              title: process.env.ISSUE_TITLE
            });
        env:
          ISSUE_TITLE: ${{ steps.get_issue.outputs.issue_title }}
